.form-editor {
    --header-height: 60px;
    width          : 100%;
    height         : 100%;
    margin         : 0;
    padding        : 0;

    display       : flex;
    flex-direction: column;

    .header {
        flex-grow  : 0;
        flex-shrink: 0;
        flex-basis : var(--header-height);
        background : rgb(48, 118, 209);
        padding    : 1em 2em;

        display        : flex;
        flex-direction : row;
        align-items    : center;
        justify-content: space-between;

        .logo {
            width        : 120px;
            height       : 30px;
            border-radius: 9px;
            background   : rgba(255, 255, 255, 0.8);
        }

        .rt-buttons {
            display        : flex;
            flex-direction : row;
            align-items    : center;
            justify-content: flex-end;
            gap            : 1em;
        }
    }

    .editor {
        flex-grow : 1;
        width     : 100%;
        max-height: calc(100% - var(--header-height));
        margin    : 0;
        padding   : 0;

        display   : flex;
        background: rgba(232, 233, 235, 1);

        .canvas {
            flex-grow  : 7;
            flex-shrink: 1;
            flex-basis : 0;
        }

        .toolbox {
            flex-grow  : 1;
            flex-shrink: 1;
            flex-basis : 0;
            height     : 100%;
            background : rgba(255, 255, 255, 0.6);
            box-shadow : inset 0 -2px 6px rgba(0, 0, 0, 0.05);
            padding    : 1.5em;
            overflow-y : overlay;

            display        : flex;
            flex-direction : row;
            flex-wrap      : wrap;
            align-items    : flex-start;
            align-content  : flex-start;
            justify-content: center;
            gap            : 10px;

            .component-btn {
                width          : 100%;
                display        : flex;
                flex-direction : row;
                align-content  : center;
                align-items    : center;
                justify-content: flex-start;
                padding        : 1.5em;
                cursor         : move;
            }
        }

        .settings-panel {
            flex-grow  : 2.5;
            flex-shrink: 1;
            flex-basis : 0;
            padding    : 1.2em;
            background : rgba(232, 233, 235, 0.75);

            .settings-card-actions {
                display        : flex;
                flex-direction : row;
                align-items    : center;
                justify-content: flex-end;

                margin: 1.5em 0;
            }
        }

        .form-container {
            height    : 100%;
            width     : 100%;
            padding   : 1.5em;
            background: rgba(255, 255, 255, 0.85);
            overflow-y: overlay;

            .form-content {
                background   : rgba(255, 255, 255, 1);
                border-radius: 8px;
                box-shadow   : 0 0 16px rgba(0, 0, 0, 0.08);
                padding      : 15px;

                .form-fields {
                    transition: all 0.25s ease;

                    &:empty {
                        background: rgba(38, 87, 221, 0.045);
                        min-height: 60px;

                        &:hover {
                            background: rgba(38, 87, 221, 0.1);
                        }
                    }
                }
            }

            .form-footer {
                transition: all 0.25s ease;

                padding   : 1.5em;
                min-height: 40px;
                border    : dashed 2px rgba(38, 87, 221, 0.065);

                display        : flex;
                flex-direction : row;
                align-items    : center;
                justify-content: flex-end;
                gap            : 1em;

                .container {
                    display: contents;
                }

                &:hover {
                    border: dashed 2px rgba(38, 87, 221, 0.2);
                }
            }
        }

        .field-set {
            margin-bottom: 1em;
            transition   : all 0.4s ease;
            min-height   : 120px;

            &.shadow {
                border    : solid 1px rgba(0, 0, 0, 0.05);
                box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);

                &.selected {
                    box-shadow: 0 0 16px rgba(38, 87, 221, 0.3);
                }
            }

            &.selected {
                border: solid 1px rgba(38, 87, 221, 0.5);
            }

            .container {
                min-height: 80px;
                padding   : 1em;
                overflow-y: overlay;
            }
        }

        .form-item-container {
            transition: all 0.25s ease;

            &.selected {
                outline       : dashed 1px rgba(38, 87, 221, 0.877);
                outline-offset: 6px;
            }
        }

        .form-checkbox-group {
            width          : 100%;
            display        : flex;
            flex-direction : row;
            align-items    : center;
            justify-content: flex-start;
            gap            : 1.5em;
            flex-wrap      : wrap;
        }

        .form-grid {
            --gutter: 10px;
            width   : 100%;
            padding : 1.5em 0;

            min-height    : 40px;
            display       : flex;
            flex-direction: row;
            gap           : var(--gutter);
            transition    : all 0.3s ease;

            &:hover,
            &.selected {
                border       : dashed 2px rgba(38, 87, 221, 0.2);
                padding      : 1.5em;
                margin-bottom: 1.5em;
            }

            .form-column {
                flex      : 1;
                min-height: 80px;
                padding   : 1em;
                border    : dashed 2px rgba(55, 108, 252, 0.1);

                &:hover,
                &.selected {
                    border: dashed 2px rgba(38, 87, 221, 0.2);
                }
            }
        }

        .form-text-section {
            .section-text {

                &:hover,
                &:focus-visible,
                &.selected {
                    outline       : dashed 2px rgba(38, 87, 221, 0.4);
                    outline-offset: 6px;
                }
            }
        }

        .form-divider {
            padding: 0.5em 0;

            &:hover,
            &.selected {
                outline       : dashed 2px rgba(38, 87, 221, 0.4);
                outline-offset: 6px;
            }
        }
    }
}